<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chargedot.charge.mapper.ChargeCardMapper">

    <!--findByCardNumber-->
    <select id="findByCardNumber" resultType="com.chargedot.charge.model.ChargeCard" parameterType="java.lang.String">
        SELECT
            c.id AS id,
            c.card_number AS cardNumber,
            c.user_id AS userId,
            c.type AS type,
            c.begined_at AS beginedAt,
            c.finished_at AS finishedAt,
            c.max_value AS maxChargeValue,
            c.cur_value AS curValue,
            c.forbid_status AS forbidStatus,
            c.card_status AS cardStatus
        FROM dw_card AS c
        WHERE c.card_number=#{cardNumber} AND c.is_del=0 LIMIT 1
    </select>

    <!--findByCardNumber-->
    <select id="findByUserId" resultType="com.chargedot.charge.model.ChargeCard" parameterType="java.lang.Integer">
        SELECT
            c.id AS id,
            c.card_number AS cardNumber,
            c.user_id AS userId,
            c.type AS type,
            c.begined_at AS beginedAt,
            c.finished_at AS finishedAt,
            c.max_value AS maxChargeValue,
            c.cur_value AS curValue,
            c.forbid_status AS forbidStatus,
            c.card_status AS cardStatus
        FROM dw_card AS c
        WHERE c.user_id=#{userId} AND c.is_del=0 LIMIT 1
    </select>

    <!--updateCardStatus-->
    <update id="updateCardStatus" parameterType="com.chargedot.charge.model.ChargeCardSnapshot">
        UPDATE dw_card
        <set>
            <if test="#{curValue} != null">
                cur_value=#{curValue},
            </if>
            <if test="#{cardStatus} != null">
                card_status=#{cardStatus}
            </if>
        </set>
        WHERE card_number=#{cardNumber} AND is_del=0
    </update>

</mapper>